<p>Nome: {{user.name}}</p>
<p>Profissão: {{user.occupation}}</p>
<h2>Endereços:</h2>

{{#each user.Addresses}}
  <p> {{this.id}} - Rua: {{this.street}}</p>
  <p>Número: {{this.number}}</p>
  <p>Cidade: {{this.city}}</p>
  <form action="/address/delete" method="post">
    <input type="hidden" name="UserId" value="{{this.UserId}}">
    <input type="hidden" name="id" value="{{this.id}}">
    <input type="submit" value="Excluir endereço">
    <a href="/address/update/{{this.id}}">Editar endreço</a>
  </form>
{{/each}}